[Unit]
Description=Chetch Worker Test

[Service]
Type=simple
ExecStart=bash /home/pi/Documents/VisualStudioProjects/Tests/WorkerService1/WorkerService1/chetch-worker-test.sh

[Install]
WantedBy=multi-user.target